/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;

  --first-color: ;
  --first-color-alt: ;
  --title-color: ;
  --text-color: ;
  --body-color: ;
  --container-color: ;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;

  --h1-font-size: ;
  --normal-font-size: ;
  --tiny-font-size: ;

  /*========== z index ==========*/
  --z-tooltip: ;
  --z-fixed: ;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: ;
    --normal-font-size: ;
  }
}

/*=============== BASE ===============*/


/*=============== REUSABLE CSS CLASSES ===============*/


/*=============== LAYOUT ===============*/


/*=============== HEADER ===============*/


/*=============== NAV ===============*/


/*Active link*/


/* Minimalist design, active link */


/* Change background header */


/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */


/* For medium devices */


/* For large devices */